@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
}
.computer {
  z-index: 5;
}
.spacing {
  z-index: 1;
}
li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
body {
  min-width: 424px;
  margin: 0px auto;
  text-align: center;
  overflow-x: hidden !important;
  color: #252b42;
}
.header,
.spacing,
.features,
.about,
.subscription,
.testimonial,
.pricing,
.contact,
footer {
  width: 100%;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: none;
}
#mail {
  display: none;
}
.header {
  background-image: url(./image/gradient.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  background-size: 100% 800px;
  overflow: hidden;
}
.header-top div {
  display: inline-block;
}
.header-top {
  padding: 20px 16px 0px;
}
.logo {
  width: 40%;
  height: 58px;
  margin-right: 35px;
  text-align: left;
}
.sub-btn {
  width: 56.4593301435%;
}
.btn {
  align-items: center;
  padding: 18px 38px;
  background: #ffffff;
  border-radius: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #2091f9;
  border: none;
}
.login {
  width: 27.990430622%;
  position: relative;
  left: -40px;
}
.menu {
  position: relative;
  top: 10px;
  margin-left: 27px;
}
.header-content {
  text-align: center;
  margin-top: 108px;
  color: #ffffff;
  width: 76.4423076923%;
  margin: 108px auto 0px;
}
.content-primary {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
}
.content-secondary {
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.content-detail {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 59px;
}
.content-button {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}
.computer {
  margin: 59px auto 80px;
  text-align: center;
}
.computer img {
  width: 89.4230769231%;
}
.spacing {
  height: 20px;
}
.features {
  color: #252b42;
}
.text-content {
  padding: 81px 50px 0px;
}
.features .text-content {
  padding: 0px 50px;
}
.image-content img {
  width: 87.3205741627%;
  margin: 0px auto;
}
.headline {
  display: inline-block;
}
.item-individual {
  padding: 0px 82px;
  margin-bottom: 80px;
  text-align: left;
}

.item-individual:last-child {
  margin-bottom: 0px;
}
.headline {
  position: relative;
  top: -16px;
  margin-left: 10px;
}
.item-headline {
  margin-bottom: 10px;
}
.item-headline img {
  width: 43px;
  height: 43px;
}
.items {
  margin-top: 70px;
}
.about {
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
}
.content {
  color: #ffffff;
}
.btn-buy {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 35px;
  width: 41.1483253589%;
  height: 48px;
  margin-right: 16px;
}
.btn-buy:last-child {
  margin-right: 0px;
}
.btn-buy:hover {
  width: 29.6650717703%;

  color: #2091f9;
  background-color: #ffffff;
  transition-duration: 0.5s;
}
.about {
  margin-top: 108px;
}
.content {
  display: inline-block;
  padding: 80px auto;
  margin: 80px auto;
  width: 90.4306220096%;
}
.content p {
  width: 78.835978836%;
  margin: 0px auto 69px;
}

.sub-content {
  width: 76.0765550239%;
  color: #252b42;
  margin: 81px auto;
}
.sub-content h2 {
  font-weight: normal;
}
.newspaper img {
  width: 74.4019138756%;
  margin: 0px auto;
}
.action {
  width: 89.2344497608%;
  margin: 85px auto;
  padding: 10px 10px 34px;
}
.mail-btn {
  width: 100%;
  align-items: center;
  padding: 17px 35px;
  background: #2091f9;
  border-radius: 35px;
  height: 50px;
  border: none;
  color: #ffffff;
}
#email {
  padding: 19px 35px;
  height: 54px;
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  margin-bottom: 12px;
}
.action h3 {
  margin-bottom: 10px;
}
.mailing-address {
  margin-top: 34px;
}
.testimonial-heading {
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 68.1818181818%;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 96px;
}
.testimonial-card {
  width: 71.0526315789%;
  margin: 0px auto;
  padding: 18px 0px;
}
.card {
  width: 100%;
  height: 459.16px;
  background: #ffffff;
  border: 0.845349px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0px 10.9895px 16.0616px rgba(0, 0, 0, 0.07);
  border-radius: 8.45349px;
  margin-bottom: 69px;
}
.card:last-child {
  margin-bottom: 0px;
}
.profile-pic img {
  width: 126px;
  height: 126px;
  margin: 33px auto;
}
.quote {
  font-size: 15.2163px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.16907px;
  margin: 0px auto 35px;
  padding: 8px;
  width: 76.7676767677%;
}
.stars {
  width: 41.4141414141%;
  margin-bottom: 27px;
}
.author-name {
  font-size: 12.6802px;
  line-height: 23px;
  letter-spacing: 0.16907px;
  margin-bottom: 8px;
}
.post {
  font-weight: bold;
  font-size: 10.1442px;
  line-height: 15px;
  letter-spacing: 0.0845349px;
  padding: 8px;
}
#card4,
#card5,
#card6 {
  display: none;
}
.testimonial-btn {
  width: 280px;
  margin: 30px auto 0px;
  height: 65px;
}
.testimonial-button {
  align-items: center;
  padding: 16px 40px;
  background: #2091f9;
  border-radius: 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  border: none;
  width: 100%;
}
.pricing {
  background-color: #252b42;
  width: 100%;
  color: #ffffff;
  margin-top: 100px;
  padding: 110px 0px 100px;
  display: inline-block;
}
.price-heading {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  padding: 10px 0px;
}
.price-info {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  width: 81.5789473684%;
  margin: 16px auto 0px;
  padding: 10px;
}
.price-detail {
  padding-top: 10px;
  text-align: left;
  width: 57.6555023923%;
  margin: 102px auto 0px;
}
.content-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}
#price-value {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  display: inline-block;
  margin-bottom: 17px;
}
#newspaper-desktop {
  display: none;
}
#price-time {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  display: inline-block;
}
.price-calender {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 36px;
}
.price-btn {
  margin: 0px auto;
}
.price-btn button {
  /* height: 52px; */
  background: #2091f9;
  border-radius: 35px;
  padding: 18px 38px;
  color: #ffffff;
  border: none;
}
.socialmedia img {
  width: 41px;
  height: 41px;
}
.location img {
  width: 26px;
  height: 32px;
}
.phone {
  width: 21px;
  height: 34px;
}
.e-mail {
  width: 27px;
  height: 22px;
}
.contact {
  padding: 160px 0px 52px;
}
.contact-heading {
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}
.contact-info {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 71.2918660287%;
  margin: 0px auto 74px;
}
textarea {
  resize: both;
}
.socialmedia {
  width: 45.6937799043%;
  margin: 0px auto 78px;
}
.socialmedia img {
  margin-right: 15px;
}
.socialmedia img:last-child {
  margin-right: 0px;
}
.contact-detail div {
  width: 63.1578947368%;
  margin: 0px auto 22px;
}
.contact-detail div p {
  width: 86.3636363636%;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  position: relative;
  bottom: 5px;
  margin-left: 3px;
}
.contact-detail {
  margin-bottom: 78px;
}
.contact-form {
  height: 670px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  width: 90.4306220096%;
  margin: 0px auto 149px;
  padding: 52px 50px;
}
.form-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 45px;
}
form input,
form textarea {
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 39px;
  background: #f5f5f5;
  margin-bottom: 45px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  padding: 23px 20px;
  border: 1px solid #e8e8e8;
}
::placeholder {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  font-family: Roboto;
}
form textarea {
  border-radius: 0px;
}
.contact-form div {
  text-align: left;
}
.contact-btn {
  background: #2091f9;
  border-radius: 35px;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 18px 38px;
}
footer {
  background-color: #252b42;
  padding: 73px 0px;
  width: 100%;
  color: #ffffff;
}
.page-content_header {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 25px;
}
.content-each li {
  margin-bottom: 16px;
}
.content-each li:last-child {
  margin-bottom: 0px;
}
.content-each {
  margin-bottom: 83px;
}
#footer-socialmedia {
  margin-bottom: 33px;
}
.secondary-content_header {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}
.secondary-content_detail {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
#footer-mail input,
#footer-mail button {
  width: 84.4497607656%;
}
/* For Tablets */
@media only screen and (min-width: 790px) {
  body {
    /* min-width: 768px; */
    overflow-x: hidden;
  }

  .header,
  .spacing,
  .features,
  .about,
  .subscription,
  .testimonial,
  .pricing,
  .contact,
  footer {
    width: 100%;
  }
  #newspaper-desktop {
    display: none;
  }
  .features .text-content {
    padding: 0px;
  }
  .logo {
    width: 12.9166666667%;
    position: absolute;
    top: 52px;
    left: 10%;
  }
  #login {
    display: none;
  }
  #mail {
    display: inline-block;
    width: 62%;
    top: 52px;
    right: -2%;
    position: absolute;
  }
  #mailaddress {
    width: 30%;
    background: #efefef;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 39px;
    height: 45px;
  }
  .sub-btn {
    width: 20%;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2091f9;
    padding: 10px;
    height: 45px;
  }
  #mail input,
  #mail button {
    display: inline-block;
  }
  .menu {
    position: absolute;
    top: 58px;
    right: 30px;
  }
  .header {
    background-image: url(./image/bg-gradient.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
    background-size: 100% 1100px;
    overflow: hidden;
  }
  .header-content {
    margin-top: 175px;
  }
  .content-secondary {
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.2px;
  }
  .computer {
    width: 75.6944444444%;
    margin-top: 180px;
  }
  .computer img {
    width: 100%;
  }
  .feature-content {
    width: 89.8611111111%;
    clear: both;
    margin: 0px auto;
    overflow: hidden;
  }
  .features {
    max-width: 918px;
  }
  .image-content {
    width: 65%;
    display: inline-block;
  }
  .newspaper-content {
    clear: left;
    overflow-x: hidden;
  }
  .buttons {
    width: 50%;
    margin: 0px auto;
  }
  .items {
    width: 30%;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    top: -5px;
  }
  .item-individual {
    padding: 0px;
  }
  .newspaper img {
    width: 43.305556%;
    float: left;
    overflow-x: hidden;
  }
  .action {
    display: inline-block;
    width: 35.142118863%;
  }
  .testimonial {
    margin-top: 160px;
    overflow-x: hidden;
  }
  .card {
    width: 30%;
    height: 500px;
    display: inline-block;
    margin-left: 20px;
  }
  .testimonial-card {
    width: 90.052632%;
  }
  .card:nth-child(4) {
    margin-left: 0px;
  }
  #card1 {
    margin-left: 0px;
  }
  .pricing-primary {
    width: 48.223744%;
    text-align: left;
    float: left;
  }
  .price-content {
    overflow: hidden;
    clear: both;
    width: 79.833333%;
    margin: 0px auto;
  }
  .price-info {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .price-detail {
    width: 36.511416%;
    padding: 0px;
    float: right;
    margin: 0px;
  }
  .price-btn button {
    padding: 18px 38px;
  }
  .contact-info {
    display: block;
    width: 38.694444%;
  }
  .contact-detail {
    width: 70%;
    margin: 0px auto 64px;
  }
  .contact-detail div {
    display: inline-block;
  }
  .contact-detail div img,
  .contact-detail div p {
    display: block;
  }
  .contact-detail div img {
    margin: 0px auto 10px;
  }
  .contact-detail div p {
    width: 100%;
    text-align: center;
  }
  .contact-detail div:nth-child(1) {
    width: 33%;
  }
  .contact-detail div:nth-child(2) {
    width: 19.861111%;
    margin-left: 25px;
  }
  .contact-detail div:nth-child(3) {
    width: 25.5555555556%;
    margin-left: 25px;
  }
  .contact-form {
    width: 60.2777777778%;
  }
  .footer-content {
    width: 90%;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
  }
  .content-each {
    text-align: left;
  }
  .footer-primary {
    width: 80%;
    margin: 0px auto;
  }
  .content-each {
    display: inline-block;
  }
  #footer-content1 {
    width: 29.3310463122%;
  }
  #footer-content2 {
    width: 31.9039451115%;
  }
  #footer-content3 {
    width: 31.9039451115%;
  }
  .footer-secondary {
    width: 80%;
    margin: 0px auto;
  }
}
/* For computers */
@media only screen and (min-width: 1024px) {
  body {
    /* min-width: 1425px; */
    /* max-width: 1400px; */
    overflow-x: hidden;
  }
  .header,
  .spacing,
  .features,
  .about,
  .subscription,
  .testimonial,
  .pricing,
  .contact,
  footer {
    width: 100%;
  }
  .header {
    background-size: 100% 1433px;
    /* height: 1433px; */
    height: 100%;
  }
  .features .text-content {
    padding: 0px;
  }
  .logo {
    width: 186px;
    height: 78px;
    position: static;
    margin-right: 22px;
    position: relative;
    top: 15px;
    left: 0px;
  }
  .navbar {
    display: inline-block;
    width: 37.8760330579%;
    margin-right: 24px;
  }
  #menu {
    display: none;
  }
  .navbar ul li {
    display: inline-block;
    margin-right: 33px;
  }
  .navbar ul li:nth-child(5) {
    margin-right: 0px;
  }
  #mail {
    position: static;
    width: 29%;
  }
  .header-top {
    /* width: 84.0277777778%; */
    width: 100%;
    margin: 0px auto 100px;
    padding: 60px 40px;
  }
  #mailaddress {
    width: 64.0845070423%;
    padding: 19px 39px;
  }
  #mail button {
    width: 30%;
    padding: 19px 0px;
    font-weight: 500;
    height: 54px;
  }
  .content-secondary {
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
  }
  .content-detail {
    width: 29.7916666667%;
    margin: 0px auto 90px;
  }
  .content-button {
    margin-bottom: 0px;
  }
  .header-content {
    margin-bottom: 60px;
  }
  .computer {
    margin-top: 0px;
    padding: 55px 54px;
  }
  #card6 {
    margin-right: 0px;
  }
  .features {
    overflow-x: hidden;
    min-width: 918px;
  }
  .features .content-detail {
    width: 24.694444%;
    margin-bottom: 80px;
  }
  .feature-content {
    width: 89.8611111111%;
    overflow-x: auto;
  }
  .image-content {
    width: 72.1792890263%;
    float: left;
  }
  .about .content {
    width: 41.0416666667%;
  }
  .about .content-secondary {
    width: 100%;
    font-size: 46px;
    line-height: 57px;
  }
  .about .content-detail {
    width: 50.4230118443%;
  }
  .buttons {
    width: 59.5600676819%;
    margin: 0px auto;
    padding: 20px;
  }
  .items {
    width: 22.706337%;
    float: right;
    margin: 142px 0px;
  }
  .price-content {
    width: 60.8333333333%;
  }
  .sub-content,
  .action {
    display: none;
  }
  #newspaper-desktop {
    display: block;
    float: right;
    width: 544px;
    position: relative;
    top: 40px;
  }
  .newspaper-content {
    padding: 100px 0px;
  }
  .desktop-text-content {
    width: 54.4117647059%;
    text-align: left;
    margin-bottom: 25px;
  }
  .content-sec {
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
  }
  .news-subscription {
    text-align: left;
    width: 83.6397058824%;
  }
  .content-info {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
  }
  .subscription {
    max-width: 1440px;
    margin: 0px auto;
    /* min-width: 1440px; */
  }
  .features {
    max-width: 1440px;
    margin: 0px auto;
  }
  .mailing-address {
    width: 95.6043956044%;
  }
  .mailing-address input,
  .mailing-address button {
    display: inline-block;
  }
  #email {
    width: 60.758621%;
    margin-right: 12px;
  }
  .mailing-address button {
    width: 34.4827586207%;
  }
  #card4,
  #card5,
  #card6 {
    display: inline-block;
  }
  .testimonial-card {
    width: 78.125%;
    margin: 0px auto;
  }
  .card {
    width: 29.7777777778%;
  }
  .price-detail {
    text-align: start;
  }
  .price-btn {
    margin: 0px;
  }
  .footer-content {
    clear: both;
  }
  .footer-primary {
    width: 56.2741312741%;
    float: left;
  }
  .footer-secondary {
    width: 36.0038610039%;
    float: right;
  }
  .content-each {
    text-align: left;
  }
  .socialmedia {
    width: 49.69378%;
  }
}
