@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
}
li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
body {
  /* max-width: 418px; */
  min-width: 424px;
  margin: 0px auto;
  text-align: center;
  overflow-x: hidden;
  color: #252b42;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: none;
}
#mail {
  display: none;
}
.header {
  /* padding-top: 20px; */
  background-image: url(./image/gradient.svg);
  /* background: url("./image/header-background.png"); */
  width: 100%;
  height: 787px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  background-size: 100% 800px;
  /* background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%); */
}
/* .header-gradient{
    padding: 0px 0px 0px 0px;
    z-index: -1;
    background: url("./image/header-background-gradient.png");

    width: 100%;
    height: 787px;
    background-size: cover;
   
    background-repeat: no-repeat;
    
} */
.header-top div {
  display: inline-block;
}
.header-top {
  padding: 20px 16px 0px;
}
.logo {
  width: 40%;
  height: 58px;
  margin-right: 35px;
  text-align: left;
}
.sub-btn {
  width: 56.4593301435%;
}
.btn {
  align-items: center;
  padding: 18px 38px;
  background: #ffffff;
  /* width: 27.990430622%; */
  border-radius: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #2091f9;
  border: none;
}
.login {
  width: 27.990430622%;
  position: relative;
  left: -40px;
}
.menu {
  position: relative;
  top: 10px;
  margin-left: 27px;
}
.header-content {
  text-align: center;
  margin-top: 108px;
  color: #ffffff;
  width: 76.4423076923%;
  margin: 108px auto 0px;
}
.content-primary {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
}
.content-secondary {
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.content-detail {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 59px;
}
.content-button {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}
.computer {
  margin: 59px auto 80px;
  text-align: center;
}
.computer img {
  width: 89.4230769231%;
}
.features {
  color: #252b42;
}
.text-content {
  padding: 81px 50px 0px;
}
.image-content img {
  width: 87.3205741627%;
  margin: 0px auto;
}
.headline {
  display: inline-block;
}
.item-individual {
  padding: 0px 82px;
  margin-bottom: 80px;
  text-align: left;
}

.item-individual:last-child {
  margin-bottom: 0px;
}
.headline {
  position: relative;
  top: -16px;
  margin-left: 10px;
}
.item-headline {
  margin-bottom: 10px;
}
.item-headline img {
  width: 43px;
  height: 43px;
}
.items {
  margin-top: 70px;
}
.about {
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
}
.content {
  color: #ffffff;
}
.btn-buy {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 35px;
  width: 41.1483253589%;
  height: 48px;
  margin-right: 16px;
}
.btn-buy:last-child {
  margin-right: 0px;
}
.btn-buy:hover {
  width: 29.6650717703%;
  color: #2091f9;
  background-color: #ffffff;
  transition-duration: 0.5s;
}
.about {
  margin-top: 108px;
}
.content {
  display: inline-block;
  padding: 80px auto;
  margin: 80px auto;
  width: 90.4306220096%;
}
.content p {
  width: 78.835978836%;
  margin: 0px auto 69px;
}

.sub-content {
  width: 76.0765550239%;
  color: #252b42;
  margin: 81px auto;
}
.sub-content h2 {
  font-weight: normal;
}
.newspaper img {
  width: 74.4019138756%;
  margin: 0px auto;
}
.action {
  width: 89.2344497608%;
  margin: 85px auto;
  padding: 10px 10px 34px;
}
.mail-btn {
  width: 100%;
  align-items: center;
  padding: 17px 35px;
  background: #2091f9;
  border-radius: 35px;
  height: 50px;
  border: none;
  color: #ffffff;
}
#email {
  padding: 19px 35px;
  height: 54px;
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  margin-bottom: 12px;
}
.action h3 {
  margin-bottom: 10px;
}
.mailing-address {
  margin-top: 34px;
}
.testimonial-heading {
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 68.1818181818%;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 96px;
}
.testimonial-card {
  width: 71.0526315789%;
  margin: 0px auto;
  padding: 18px 0px;
}
.card {
  width: 100%;
  height: 459.16px;
  background: #ffffff;
  border: 0.845349px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0px 10.9895px 16.0616px rgba(0, 0, 0, 0.07);
  border-radius: 8.45349px;
  margin-bottom: 69px;
}
.card:last-child {
  margin-bottom: 0px;
}
.profile-pic img {
  width: 126px;
  height: 126px;

  margin: 33px auto;
}
.quote {
  font-size: 15.2163px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.16907px;
  margin: 0px auto 35px;
  padding: 8px;
  width: 76.7676767677%;
}
.stars {
  width: 41.4141414141%;
  margin-bottom: 27px;
}
.author-name {
  font-size: 12.6802px;
  line-height: 23px;
  letter-spacing: 0.16907px;
  margin-bottom: 8px;
}
.post {
  font-weight: bold;
  font-size: 10.1442px;
  line-height: 15px;
  letter-spacing: 0.0845349px;
  padding: 8px;
}
#card4,
#card5,
#card6 {
  display: none;
}
.testimonial-btn {
  width: 66.985645933%;
  margin: 30px auto 0px;
  height: 65px;
}
.testimonial-button {
  align-items: center;
  padding: 16px 40px;
  background: #2091f9;
  border-radius: 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  border: none;
  width: 100%;
}
.pricing {
  background-color: #252b42;
  width: 100%;
  color: #ffffff;
  margin-top: 100px;
  padding: 110px 0px 100px;
  display: inline-block;
}

.price-heading {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  padding: 10px 0px;
}
.price-info {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  width: 81.5789473684%;
  margin: 16px auto 0px;
  padding: 10px;
}
.price-detail {
  /* margin-top: 102px; */
  padding-top: 10px;
  text-align: left;
  width: 57.6555023923%;
  margin: 102px auto 0px;
}
.content-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}
#price-value {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  display: inline-block;
  margin-bottom: 17px;
}
#price-time {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  display: inline-block;
}
.price-calender {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 36px;
}
.price-btn {
  width: 74.2990654206%;
  margin: 0px auto;
}
.price-btn button {
  width: 100%;
  height: 52px;
  background: #2091f9;
  border-radius: 35px;
  padding: 18px 38px;
  color: #ffffff;
  border: none;
}
.socialmedia img {
  width: 41px;
  height: 41px;
}
.location img {
  width: 26px;
  height: 32px;
}
.phone {
  width: 21px;
  height: 34px;
}
.e-mail {
  width: 27px;
  height: 22px;
}
.contact {
  padding: 160px 0px 52px;
}
.contact-heading {
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}
.contact-info {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 71.2918660287%;
  margin: 0px auto 74px;
}
.socialmedia {
  width: 45.6937799043%;
  margin: 0px auto 78px;
}
.socialmedia img {
  margin-right: 15px;
}
.socialmedia img:last-child {
  margin-right: 0px;
}
.contact-detail div {
  width: 63.1578947368%;
  margin: 0px auto;
}
.contact-detail div p {
  width: 86.3636363636%;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  position: relative;
  bottom: 5px;
  margin-left: 3px;
}
.contact-detail {
  margin-bottom: 78px;
}
.contact-form {
  height: 670px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  width: 90.4306220096%;
  margin: 0px auto 149px;
  padding-top: 52px;
}
.form-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 45px;
}
form input,
form textarea {
  width: 74.0740740741%;
  margin: 0px auto;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  background: #f5f5f5;
  margin-bottom: 45px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}
::placeholder {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  padding: 19px 0px 19px 20px;
  font-family: Roboto;
}
form input {
  height: 54px;
}
form textarea {
  height: 193px;
  border-radius: 0px;
}

#submit {
  width: 38.3597883598%;
  height: 52px;
  background: #2091f9;
  border-radius: 35px;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
footer {
  background-color: #252b42;
  padding: 73px 0px;
  width: 100%;
  color: #ffffff;
}
.page-content_header {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 25px;
}
.content-each li {
  margin-bottom: 16px;
}
.content-each li:last-child {
  margin-bottom: 0px;
}
.content-each {
  margin-bottom: 83px;
}
#footer-socialmedia {
  margin-bottom: 33px;
}
.secondary-content_header {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}
.secondary-content_detail {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
#footer-mail input,
#footer-mail button {
  width: 84.4497607656%;
}
