*{
    margin: 0px;
    padding: 0px;
}

.center{
    text-align: center;
}
.passInput{
    padding: 12px 12px;
    width: 270px;
    border-radius: 10px;
    border: 2px solid #c7c6c1 ;
    margin: 0px auto;
}
i{
    position: relative;
    left: -40px;
}
.content{
    color: #1a77e8;
}
h3, .passInput{
margin-bottom: 10px;
}
div{
    margin: 0px auto;
}
.main{
    width: 330px;
    margin: 50px auto;
    border: 1px solid #c7c6c1;
    padding: 20px 10px 20px 30px;
}
.btn{
    padding: 8px 12px;
    background-color: #1a77e8;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
  
}
.forgot{
    display: inline-block;
    margin-right: 130px;
}