@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@400;700&family=Playfair+Display&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#line1{
  width: 100%;
  display: none;
}
.navbar{
  display: none;
}
li {
  text-decoration: none;
  list-style: none;
}
header {
  max-width: 375px;
  margin-bottom: 19px;
  
}
.clear {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}

body {
  overflow-x:hidden ;
  font-family: Lato;
  margin: 0px auto;
  max-width: 375px;
}
.hamburger {
  width: 34px;
  height: 34px;
  /* margin: 26px 67px 46px 25px; */
  position: absolute;
  top: 18px;
  left: 20px;
}
.topic {
  width: 133px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  margin: 14px auto;
  color: #000000;
  margin-bottom: 19px;
}
a {
  text-decoration: none;
  list-style: none;
}

.main-img img {
  width: 100%;
}
.intro {
  width: 334px;
  margin: 30px 20px 20px;
}
.title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  text-transform: capitalize;
  color: #334756;
  margin-bottom: 20px;
  color: #2c394b;
}
.sec-color {
  color: #ff4c29;
}
.sec-background {
  background-color: #ff4c29;
}
.subtitle {
  font-family: Lato;
  font-size: 16px;
  line-height: 160%;
  color: #667580;
}
.btn {
  width: 89.3333333333%;
  margin: 20px auto 0px;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 13px 0px;
  font-family: Lato;
  font-size: 16px;
  line-height: 140%;
  color: #2c394b;
  background-color: #ffffff;
  border: 1px solid #667580;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #ff4c29;
  color: white;
}
.services {
  background: #f6f6f6;
  padding: 32px 20px 25px;
}
.about p {
  margin-bottom: 20px;
}

.cards {
  background-color: #2c394b;
  width: 100%;
  margin: 0px auto 24px;
}
.workimage img {
  width: 100%;
}
.more p {
  color: #ffffff;
  margin: 0px;
}
.more {
  padding: 23px 30px;
}
.more p,
.more div {
  display: inline-block;
}

.usericon {
  margin-right: 10px;
}
.hype::after {
  content: url(image/line.png);
  margin-left: 50px;
}
.content {
  font-size: 12px;
  line-height: 110%;
  text-align: center;
  color: #c2c2c2;
  width: 87.1641791045%;
}
.hype {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 20px 50px;
}
.top {
  display: block;
  margin-bottom: 30px;
}
/* .card-detail{
  display: none;
} */
.card2 {
  display: none;
}
.map img{
  width: 100%;
}
intro{
  width: 100%;
}
.lists{
  width: 100%;
  margin-top: 33px;
}
.fa{
  font-size: 24px;
line-height: 120%;
text-align: center;
color: #334756;
font-weight: bold;
padding: 14px 20px;
display: inline-block;
width: 100%;
margin-bottom: 20px;
}
.main{
  width: 100%;
}
.fa:hover{
  background-color:  #ff4c29;
  color: #ffffff;
}
.facilities {
  margin: 40px 20px;
}
.map {
  width: 100%;
  margin-bottom: 49px;
}
.location {
  margin: 0px 0px 40px;
  background-color: #f7f7f7;
  padding: 40px 0px 49px;
}
.location-header {
  margin: 0px 20px 8px;
}
.explore {
  font-size: 20px;
  line-height: 120%;
  color: #086de0;
  margin: 48px auto 0px 20px;
}
.explore::after {
  content: url(image/blueline.png);
  width: 90px;
  margin-left: 30px;
}
.customer-card {
  background-color: #334756;
  width: 88.6243386243%;
  color: #ffffff;
  padding-bottom: 16px;
  margin-bottom: 30px;
}
.quote-image {
  height: 27px;
  width: 11.9402985075%;
  position: relative;
  display: inline-block;
  top: 27px;
  left: 24px;
}
.quote-image img{
  z-index: 1;
}
.quote {
  width: 77.9104477612%;
  margin: 0px 39px 98px 35px;
  font-size: 16px;
  line-height: 140%;
  z-index: 2;
}
.author {
  margin: 34px 0px 0px 39px;
}
.author-pic {
  margin-right: 16px;
}
.author-name {
  font-weight: bold;
}
.author-post {
  font-weight: 300;
  font-size: 12px;
}
.author div {
  display: inline-block;
}
#card2,
#card3 {
  display: none;
}
.explored {
  font-size: 20px;
  line-height: 120%;
  color: #086de0;
}
.explored::after {
  content: url(image/blueline.png);
  width: 90px;
  margin-left: 30px;
}
.testimonial {
  margin: 40px 20px;
}
.socialproof {
  padding: 28px 16px 28px 24px;
  background-color: #f6f6f6;
}
.slider {
  margin-top: 36px;
}
.logo {
  margin: 40px auto 28px ;
}
.logo div {
  margin: 0px auto 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
}
.microsoft {
  margin: 0px 18px;
  width:171px;
  height:40px;
}
.meet{
  width:205px;
  height:40px;
}
.grab {
  margin: 0px 54px;
  width:99px;
              height:40px;
}
.zoom {
  margin: 0px 37px;
  width:"133px";
   height:"30px";
}
.information {
  margin: 40px 20px 68px 19px;
}
.trend-pic img {
  width: 100%;
}
.trend-cards {
  width: 100%;
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}
#trend-card1 div div img{
  width:360px;
  height:240px;
}
.trend-topic {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #334756;
}
.trend-writer {
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
  color: #2c394b;
}
.trend-info {
  padding: 22px 20px;
}
#trend-card2, #trend-card5, #trend-card6 {
  display: none;
}
.phone {
  font-size: 16px;
  line-height: 140%;
}
.phone::before {
  content: url(image/phone.png);
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.footer {
  margin-left: 20px;
  /* padding: 40px auto 50px 20px ; */
}
.footer p {
  font-size: 16px;
  line-height: 140%;
  color: #334756;
}
#comp-logo {
  font-family: Playfair Display;
  font-size: 48px;
  line-height: 110%;
  color: #000000;
}
footer{
  background-color: #f7f7f7;
}
.footer-location {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #334756;
}
.footer-location::after {
  content: url(image/dropdown.png);
  margin-left: 16px;
}
.social-icons {
  display: inline-block;
}
.fb {
  margin-right: 30px;
}
.twitter {
  margin-right: 32px;
}
.line{
  background: #334756;
  border: 1px solid #667580;

}
#line2{
  margin-bottom: 19px;
}
.copyright {
  /* padding-top: 20px; */
  
 
  font-size: 16px;
line-height: 140%;
color: #667580;
display: block;


margin-left: auto;
margin-right: auto;

}
.footer p {
  margin-bottom: 20px;
}
.footer-location {
  margin-top: 34px;
}
.social-icons {
  margin-bottom: 45px;
}
.footer span{
  font-weight: bold;
}
.facility{
  display: none;
}
.break{
  display: block;
}
.lang{
  display: none;
}
#company-info{
  display: none;
}

/* For tablet */
@media only screen and (min-width:750px) {
  body{
    max-width: 772px;
    margin: 0px auto;
  }
  header{
    margin: 0px auto 57px;
  }
  .hamburger{
    left: 32px;
  }
  #company-info{
    display: none;
  }
  .introduction{
width: 100%;
margin-right: 0px;
  }
  .introduction div{
    display: inline-block;
    /* height: 293px; */
  }
  .clearfix{
    overflow: auto;
    clear: both;
  }
  .main-img{
    float: left;
    width: 47.9274611399%;
  }
  .intro{
    float: right;
    width: 47.5388601036%;
   margin: 0px;
  }
  .button-container{
    width: 100%;
  }
  .button-container button{
    display: inline-block;
  }
  .btn:hover{
    background-color:#FF4C29 ;
    color: #ffffff;
    width: 52.1621621622%;

  }
  .btn1{
    float: left;
    width: 42.4324324324%;
  }
  .btn2{
    float: right;
    width: 42.4324324324%;
  }
  .parentcard{
    width: 100%;
  }
  .cards{
    display: inline-block;
    width: 31.6062176166%;

  }
  .card2{
    margin: auto 2% auto 2%;
  }
  .card-detail{
    display: none;
  }
  .content{
    width:88.1147540984% ;
    padding: 0px;
    font-size: 12px;
    line-height: 110%;
  }
  .normal{
    font-size: 16px;
  }
  .facilitiy-container div{
    display: inline-block;
  }
  .facilitiy-container{
    margin-top: 20px;
  }
  .fa{
    font-weight: bold;
font-size: 20px;
line-height: 120%;
  }
  .lists{
    float: left;
    width: 31.9948186528%;
    margin-top: 0px;
  }
  
  .facility{
    float: right;
    display: block;
    /* margin-left: 15.357513%; */
    width: 51.9909326425%;
    /* margin-top: 20px; */
  }
  .subtitle{
    margin-bottom: 20px;
  }
 
  .location{
    overflow: hidden;
    width: 100%;
    display: block;
  }
  .location-header{
    float: right;
    width: 42.9158031088%;
  }
  .map{
    float: left;
    width: 51.0362694301%;
  }
  .explore{
    margin-top: 22px;
    margin-left: 28px;
  }
  .customer-card{
width: 49%;
display: inline-block;
  }
  #card2{
    display: inline-block;
    margin-left: 10px;
  }
  #card2 .quote{
margin-bottom:76px ;
  }
  .hidden{
    display: none;
  }
  .break{
    display: inline-block;
  }
  .centered{
    text-align: center;
  }
  .inc{
    line-height: 110%;
    text-align: center;
    width: 75.6476683938%;
    margin: 20px auto 60px auto;
    
  }
  .socialproof{
    background-color: none;
  }
  .logo{
    width: 96.7616580311%;
  }
  .logo div{
    display: inline-block;
    margin-right: 25px;
    padding: 0px;

  }
  .logo div:last-child{
margin-right: 17px;
  }
  .zoom{
    width: 127px;
height: 29px;
margin-right: 66px;
  }
  .grab{
    width: 95px;
height: 38px;
margin-right: 53px;
  }
.meet{
  width: 196px;
height: 38px;
margin-right: 29px;
}
.major{
  font-weight: bold;
font-size: 40px;
line-height: 53px;
}
.trend_cards-block{
  width: 100%;
  /* background-color: rosybrown; */
}
.trend-cards{
  display: inline-block;
  width: 31.6062176166%;
  margin-right: 10px;
  /* background-color: skyblue; */
  margin-bottom: 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.trend-cards:last-child{
  margin-right: 0px;
}
#trend-card2{
  display: inline-block;
  position: relative;
  top: 30px;
  
}
.trend-topic{
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #334756;
}
.trend-writer{
  font-weight: 300;
font-size: 10px;
line-height: 140%;
color: #2C394B;
}
#insight4{
  display: none;
}
.trend-titled{
  font-weight: bold;
font-size: 18px;
line-height: 120%;
color: #334756;
width: 81.9672131148%;
margin-bottom: 12px;
}
.trend-subtitle{
  font-size: 12px;
line-height: 160%;
color: #667580;
margin-bottom: 12px;
width: 84.4262295082%;
}
.trend-base-writer{
  font-weight: 300;
font-size: 10px;
color: #334756;
margin-bottom: 12px;

line-height: 140%;
}
.view{
  font-weight: bold;
font-size: 14px;
line-height: 140%;
color: #086DE0;
margin-top:10px ;
}
#trend-card2{
  /* background-color: skyblue; */
  padding:20px 20px 10px 20px ;
  
}
.lang{
  display: block;
  text-align: right;
  float: right;
  position: relative;
  top: -220px;
  margin-left:32px ;
  left: -48px;
}
.lang p{
  font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #334756;
}
#us{
font-weight: bold;
font-size: 20px;
line-height: 120%;
color: #086DE0;

}
#us::after{
  content: url(image/blue-down-arrow.png);
  margin-left: 16px;

}
.footer-location{
  margin-top: 54px;
}
.social-icons{
  float: right;
  position: relative;
  top: -100px;
  right: -137px;
}
.copyright{
  width: 314px;
  height: 22px;
  font-weight: 300;
font-size: 16px;
line-height: 140%;
  color: #667580;
  
  margin-left: auto;
  margin-right: auto;
}

.lastline{
  margin-left: auto;
  margin-right: auto;
  
  
}
}

@media  screen and (min-width:1115px) {
  #line1{
    display: block;
  }
  body{
    max-width:1175px ;
    margin: 0px auto;
    font-family: Lato;
    overflow-x: hidden;
  }
  .hamburger{
    display: none;
  }
  .clear{
    clear: both;
  }
  header{
    margin: 0px;
    margin-bottom:130px;
    /* width: 99.6595744681%; */
    
  }
  #insight4{
    display: inline-block;
  }
  .topic{
position: absolute;
top: 11px;
left: 8.513889%;
  }
.navbar{
  display: block;

  margin: 0px;
 
}
.testimonial.title{
  width: 228px;
}
.navbar ul{
  width: 531px;
  position: relative;
  left: 307px;
  top: 65px;
}
.navbar ul li{
  display: inline-block;
  
  margin-left: 38px;
}
.user{
  float: right;
  position: absolute;
  right: 117px;
  top: 58px;
}
.navbar a{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #334756;
}
.navbar ul li:last-child{
  margin-left: 0px;
}
.user p{
  display: inline-block;
}
.dropdown::after{
  content: url(image/dropdown.png);
  margin-left: 8px;
}
.line{
  background-color:#C4C4C4; ;
  border: 1px solid #334756;
/* width: 150%;
position: relative;
left: -300px; */
}
.introduction{
  margin-top: 82px;
  margin-bottom: 130px;
}
.main-img{
  width: 52.2553191489%;
}
.intro{
  width: 41.0212765957%;
}
.button-container{
  width: 76.7634854772%;
}
.btn{
  width:42.4324324324% ;
}
.btn:hover{
  width: 52.1621621622%;
}
.services{
  background-color: #ffffff;
}
.services .subtitle{
 
  width: 42.3829787234%;
}
.services-header{
  margin-bottom: 61px;
}
.title{
  font-size: 32px;
line-height: 43px;
display: inline-block;
}
.subtitle{
  font-size: 16px;
  float: right;
line-height: 110%;
}
.parentcard{
  width: 100%;
}
.cards{
  width: 30.2127659574%;
  margin-right:3% ;
}
.cards:last-child{
  margin-right: 0px;
}
.facilities .title{
  width: 43.2340425532% ;
}
.facilities .subtitle{
  width: 38.2978723404%;
}
.fa{
  font-size: 24px;
  line-height: 120%;

}
.lists{
  margin-top: 48px;
}
.facilitiy-container{
  background-color: rosybrown;
}
.facility img{
  float: right;
  width:100%;
 
}
.facilities{
  margin-bottom: 78px;
}
.location{
  margin-top:291px ;
  width:100%;
  padding: 93px 51px;
  /* width: 1440px; */
  /* position: relative; */
  /* right: 115px; */
}
.space{
  height: 78px;
}
map{
  width: 68.9361702128%;
}
.location-header{
  width: 32.7659574468%;
  margin: 0px;
  padding: 0px;
}
.location-header .subtitle{
  width: 85.974025974%;
  float: none;
}
.explore{
  display: inline-block;
  margin: 0px;
  position: relative;
  top: 40px;

  right: -216px;
}
#line2{
  margin-bottom: 28px;
}
.testimonial .title{
  width: 19.404255319%;
}
#card1{
  margin: 0px;
}
#card3{
  display: inline-block;
}
.socialproof{
  padding:0px;
}
.slider{
  width: 100%;
}
.customer-card{
  width: 31%;
  margin: 0px;
  margin-right: 20px;

}
.customer-card:last-child{
  margin: 0px;
}
.socialproof{
  background-color: #ffffff;
}
.socialproof .title, .socialproof .subtitle{
  display: block;
  float: none;
}
.socialproof .title{
  font-size: 40px;
line-height: 53px;
}
.logo{
  /* width: 91.3191489362%; */
  
  overflow-y: hidden;
}

.zoom{
  width: 19.3849021435%;
  height: 40px;
  padding: 5px 37px;
  margin-right: 80px;
}
.grab{
  width:19.3849021435%;
height: 40px;
padding:0px 54px ;
margin-right: 90px;
}
.meet{
  width: 205.83px;
height: 40px;
margin-right: 69px;
}
.microsoft{
  width: 19.3849021435%;
height: 40px;
padding: 0px 19px;
}
.trend-cards{
  width:29%;
  margin-right: 31px;
  padding: 0px;
  margin-bottom: 38px;
}
.trend-cards:last-child{
  margin-right: 0px;
  margin-bottom: 0px;
}
.trend-info{
  padding: 22px 44px 22px 20px;
  height: 115px;
}
.trend-topic{
  font-size: 20px;
line-height: 120%;
/* padding: 22px 48px 8px 20px; */
}
.trend-pic{
  width: 100%;
}
.trend-writer{
  font-weight: 300;
font-size: 10px;
line-height: 140%;
margin-top: 8px;
}
#trend-card2{
  position: relative;
  top: -30px;
  
}
#trend-card2 .view{
  padding-bottom: 40px;
}
#trend-card5{
  position: relative;
  top: -24px;
}
#company-info{
  display: inline-block;
}
.footer-col li a{
  font-size: 16px;
line-height: 140%;
color: #667580;

}
footer{
  width: 100%;
  max-width: none;
}
.footer{
  width:100%;
  overflow: hidden;
  

}
#trend-card5, #trend-card6{
  display: inline-block;
}
.footer-location{
  margin-bottom:67px ;
}
.footer-col{
  display: inline-block;
}
.footer-title{
  font-weight: bold;
  font-size: 20px;
  color: #334756;
  line-height: 120%;
}
.footer-column{
  display: inline-block;
  margin-right:135px ;
  padding-top: 90px;
}
.footer-col{
  margin-right: 120px;
}
.footer-col:last-child{
  margin-right: 0px;
}
.footer-col ul li{
  margin-bottom: 20px;
}
.lang{
  font-weight: 600;
font-size: 20px;
line-height: 24px;
top:-300px ;
width: 13.3617021277%;
}
.lembur-info{
  position: relative;
  top: -30px;
}
.help{
  position: relative;
  top: -40px;
}
.social-icons{
  top: -159px;
}
#line2{
  width: 55.3191489362%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 15px;
}
.copyright{
  width: 314px;
  height: 22px;
  font-weight: 300;
  font-size: 16px;
  color: #667580;
  margin-left: auto;
  margin-right: auto;

}

}